/* ******** */
/** GRIDS **/
/* ******** */

/* ********************* */

/*
    - General Grids
*/

._generateColumns; // Launch _generateColumns
._tablet({._generateTabletColumns;}); // Launch _generateTabletColumns
._phone({._generatePhoneColumns;}); // Launch _generatePhoneColumns

.columns {
    display:flex;
    flex-wrap:wrap;
    margin:0 -@cols-gutter/2;

    &.cc {
        &-no-multiligne {flex-wrap:nowrap}
        &-reverse{flex-direction:row-reverse}
        &-justify {
            &-start         {justify-content:flex-start}
            &-end           {justify-content:flex-end}
            &-center        {justify-content:center}
            &-between {justify-content:space-between}
            &-around  {justify-content:space-around}
        }
        &-align {
            &-start         {align-items:flex-start}
            &-end           {align-items:flex-end}
            &-center        {align-items:center}
            &-baseline      {align-items:baseline}
            &-stretch       {align-items:stretch}
        }
        &-no-gutter {
            margin:0;
            & > * {
                margin:@cols-ma-top 0 @cols-ma-bottom;
            }
        }
        &-gutter {
            & > * {
                margin:@cols-ma-top @cols-gutter/2 @cols-ma-bottom;
            }
        }
        &-masonry {
            display:block;
            margin:0;
            column-gap: @cols-masonry-gap;

            &.cc-no-gutter > *,
            & > * {
                display:inline-block;
                width:100%;
                max-width:100%;
                flex:none;
                margin:@cols-masonry-gap/2 0;
            }
        }
        &-spaceless {
            & > * {
                margin-top:0;
                margin-bottom:0;
            }
        }
    }



    & > * {
        ._reset;
        padding:@cols-pa;
        margin:@cols-ma-top @cols-gutter/2 @cols-ma-bottom;
        flex:1 1 0%;

        /* Nested columns */
        &.columns {
            padding:@cols-gutter @cols-gutter/2;

            &.cc-no-gutter {
                padding:0;
            }
        }

        &.cc {
            &-first {order:-1}
            &-last {order:1}
            &-right {margin-left:auto;}
            &-left {margin-right:auto;}
            &-center {
                margin-left:auto;
                margin-right:auto;
            }
            &-align {
                &-top {
                    display:flex;
                    align-items:flex-start;
                }
                &-center {
                    display:flex;
                    align-items:center;
                }
                &-bottom {
                    display:flex;
                    align-items:flex-end;
                }

                &-self {
                    &-top {align-self:flex-start}
                    &-bottom {align-self:flex-end}
                    &-center {align-self:center}
                    &-stretch {align-self:stretch}
                    &-baseline {align-self:baseline}
                }
            }
            &-w-auto {
                flex :0 0 auto;
            }
        }
    }


    /* TABLET rules */
    ._tablet({
        &.cc-gutter > *.cc,
        & > *.cc {
            &-offset-0-t,
            &-no-offset-t {
                margin-left: @cols-gutter/2;
            }

            &-first-t {
                order:-2;
            }

            &-last-t {
                order:2;
            }
        }

        &.cc-no-gutter > *.cc-offset-0-t,
        &.cc-no-gutter > *.cc-no-offset-t {
            margin-left:0;
        }
    });


    /* PHONE rules */
    ._phone({

        &.cc-gutter > *.cc,
        & > *.cc {
            &-offset-0-s,
            &-no-offset-s {
                margin-left: @cols-gutter/2;
            }

            &-first-s {
                order:-3;
            }

            &-last-s {
                order:3
            }
        }

        &.cc-no-gutter > *.cc-offset-0-s,
        &.cc-no-gutter > *.cc-no-offset-s {
            margin-left:0;
        }
    });
}

