/* ******** */
/** MODALS **/
/* ******** */

/* ********************* */
html.opened-modal,
body.opened-modal {
    overflow:hidden !important;
}

/* Modal wrapper */
.modal {
    display:flex;
    justify-content:center;
    align-items:center;
    box-shadow:none;
    z-index:-1;
    position:fixed;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    opacity:0;

    /* Shown modal */
    &.active {
        opacity:1;
        z-index:99;

        .modal-content {
            opacity:1;
            ._scale(1);
        }

        .modal-close {
            ._transition(0.3s, top, ease-out, 0.3s);
            top:8px;


            // Set top to 20px on medium devices
            ._media-s-up({
                top:20px;
            });
        }

        .modal-overlay {
            background-color:rgba(0,0,0,0.85);
        }
    }


    /* Sizes */
    &.modal {
        // only on meduim devices and up
        ._media-s-up({
            &-large {
                .modal-content {
                    width:80%;
                }
            }
            &-small {
                .modal-content {
                    width:30%
                }
            }
        });
    }

    /* Close button */
    &-close {
        ._reset;
        position:fixed;
        top:-60px;
        left:50%;
        z-index:98;
        background:none;
        border-radius:100%;
        line-height:inherit;
        background-color:transparent;
        width:40px;
        height:40px;
        margin-left:-20px;


        &:after,
        &:before {
            display:inline-block;
            content:' ';
            width:19px;
            height:3px;
            background-color:white;
            border-radius:4px;
            position:absolute;
            top:19px;
            left:10px;
        }
        &:before {
            ._rotate(-45deg);
        }
        &:after {
            ._rotate(45deg);
        }

        &:hover {
            background-color:lighten(@red,25%);
        }
    }

    /* Content */
    &-content {
        width:90%;
        max-height:80vh;
        overflow-y:auto;
        overflow-x:hidden;
        background-color:white;
        z-index:99;
        border-radius:4px;
        opacity:0;
        ._transition;
        ._scale(0.5);

        .modal-body,
        .modal-footer,
        .modal-header {
            padding:20px;
        }

        .modal-header {
            border-bottom:1px solid #cecece;
            color:@gray;
            ._uppercase;
        }

        .modal-footer {
            border-top:1px solid #cecece;
        }

        ._media-s-up({
            width:50%;
        });
    }

    /* Overlay */
    &-overlay {
        position:absolute;
        background-color:transparent;
        top:0px;
        left:0px;
        right:0px;
        bottom:0px;
        width:100vw;
        height:100vh;
        z-index:97;
    }


    /* Fixed Header/Footer */
    &[data-fixed-hf] {
        .modal-content {
            overflow:hidden;
            display:flex;
            flex-direction:column;
        }
        .modal-footer,
        .modal-header,
        .wrap-modal-body {
            flex:1 0 auto;
        }
        .wrap-modal-body {
            overflow-y: auto;
            flex-shrink:1;
        }
    }

    // Fullscreen modals
    &[data-fullscreen] {
        align-items: flex-end;

        .modal-content {
            width:  100vw;
            height: ~"calc(100vh - 56px)";
            max-height: ~"calc(100vh - 56px)";
            border-radius: 0px;

            ._media-s-up({
                height: ~"calc(100vh - 80px)";
                max-height: ~"calc(100vh - 80px)";
            });
        }
    }
}
