/* ***************** */
/** LINKS / BUTTONS **/
/* ***************** */

/* ********************* */

/*
    - General links & buttons styles.

    /* - - -
    /!\ : you can override ._btn bg-color in functions.less : ._btn(@bg, @bgHover); /!\
    /* - - -

*/

/* Simple HTML links */
a {
    text-decoration: none;
    color:@links-tc;

    &:focus,
    &:hover {
        text-decoration: none;
        outline:0;
    }
}

/* Buttons && buttons-like HTML links */
a.btn,
button {
    display:inline-block;
    color:@links-tc;
    padding:@links-btn-pa;
    line-height:@links-btn-lh;
    border:unit(@links-btn-bw,px) solid @gray-li;
    text-align:center;
    font-size: @links-fs;
    vertical-align:middle;
    border-radius:unit(@links-btn-br,px);
    cursor:pointer;
    ._btn(white, white);
    ._transition;

    &:focus,
    &:active,
    &:visited {
        outline:none;
    }

    /* hover : default, change border-color */
    &:hover {
        border-color:@gray;
    }

    i[class*="fa-"],
    i[class*="ion-"] {
        &:before {
            margin-right:10px;
        }
    }


    &.cc {
        /* Thins buttons, .btn links */
        &-thin {
            font-size:@links-btn-thin-fs;

            &[class*="fa-"],
            &[class*="ion-"] {
                &:before {
                    font-size:inherit;
                    margin-right:7px;
                }
            }

            i:before {
                font-size:inherit;
                margin-right:7px;
            }

            &.icon-right:before {
                margin-right:0;
            }

            /* Thin Loading buttons */
            &.cc-loading {
                &:before {
                    width: 10px;
                    height: 10px;
                    margin-top:-5px;
                    margin-left:-5px;
                }
            }
        }

        /* Fats buttons, .btn links */
        &-fat {
            font-size:@links-btn-fat-fs;

            &[class*="fa-"],
            &[class*="ion-"] {
                &:before {
                    font-size:inherit;
                }
            }
            i:before { font-size:inherit;}

            /* Thin Loading buttons */
            &.cc-loading {
                &:before {
                    width: 24px;
                    height: 24px;
                    margin-top:-12px;
                    margin-left:-12px;
                }
            }
        }

        /* disabled */
        &-disabled {
            opacity:0.5;
            cursor:not-allowed; /* old browser */
            pointer-events:none;
        }

        /* Loading buttons */
        &-loading {
            position:relative;
            color:transparent !important;
            cursor:not-allowed;
            pointer-events:none;

            &::-moz-selection {
                background: transparent;
                color:transparent;
            }
            &::selection {
                background: transparent;
                color:transparent;
            }

            &:before {
                display:block;
                border:2px solid @gray-li;
                border-top-color: @gray-li;
                border-right-color: lighten(@gray-li,50%);
                border-bottom-color: lighten(@gray-li,50%);
                border-left-color: lighten(@gray-li,50%);
                border-radius :50%;
                content: " ";
                width: 16px;
                height: 16px;
                position:absolute;
                top:50%;
                left:50%;
                margin-top:-8px;
                margin-left:-8px;
                margin-right:0;
                ._loading-spin;
            }

        }
    }

    /* Icon right */
    &.icon-right {
        position:relative;
        display:inline-flex;
        justify-content:center;
        align-content:center;
        align-items:center;

        i:before,
        &:before {
            order:2;
            margin:0 0 0 0.8em;
        }
    }
}


/* Hack Firefox for .icon-right on button elements */
@-moz-document url-prefix() {
    button.icon-right {
        display:inline-block;
        &.cc-thin:before,
        &:before {
            margin:0 0.8em 0 0;
        }
    }
}
