/* ***************** */
/** LINKS / BUTTONS **/
/* ***************** */

/* ********************* */

/*
    - General links & buttons styles.

    /* - - -
    /!\ : you can override ._btn bg-color in functions.less : ._btn(@bg, @bgHover); /!\
    /* - - -

*/

/* Simple HTML links */
a {
    text-decoration: none;
    color:@links-tc;

    &:focus,
    &:hover {
        text-decoration: none;
        outline:0;
    }
}

/* Buttons && buttons-like HTML links */
a.btn,
button {
    ._inline;
    color:@links-tc;
    padding:0.25em 0.8em;
    line-height:@links-btn-lh;
    border:1px solid @gray-li;
    text-align:center;
    font-size: @links-fs;
    vertical-align:middle;
    border-radius:unit(@links-btn-br,px);
    ._btn(white, white);
    ._transition;

    &:focus,
    &:active,
    &:visited {
        outline:none;
    }

    /* hover : default, change border-color */
    &:hover {
        border-color:@gray;
    }


    &.cc {
        /* disabled */
        &-disabled {
            opacity:0.5;
            cursor:not-allowed; /* old browser */
            pointer-events:none;
        }

        /* Loading buttons */
        &-loading {
            position:relative;
            color:transparent !important;
            cursor:not-allowed;
            pointer-events:none;

            &::-moz-selection {
                background: transparent;
                color:transparent;
            }
            &::selection {
                background: transparent;
                color:transparent;
            }

            &:before {
                display:block;
                border:2px solid @gray-li;
                border-top-color: @gray-li;
                border-right-color: lighten(@gray-li,50%);
                border-bottom-color: lighten(@gray-li,50%);
                border-left-color: lighten(@gray-li,50%);
                border-radius:100%;
                content: " ";
                width: 16px;
                height: 16px;
                position:absolute;
                top:50%;
                left:50%;
                margin-top:-8px;
                margin-left:-8px;
                ._loading-spin;
            }
        }
    }
}
