/* ******** */
/** TABLES **/
/* ******** */

/* ********************* */

table {
    border-collapse: collapse;
    margin:1em 0;
    width:100%;

    /* headers & footer default style */
    /* note : "thead td" has no sense but that is the way some WYSIWYG editors generates tables headers */
    tfoot,
    thead {
        td,th {
            font-weight:400;
            font-size:@text-fs;
            padding:@tables-cells-pa;
            border:0;
            border-bottom:1px solid @tables-ending;
            text-align:left;
            vertical-align:top;
            color:@tables-th-mc;
        }
    }
    tfoot {
        td {
            border:0;
        }
    }


    /* Cells default style */
    tbody {
        td {
            padding:@tables-cells-pa;
            border-bottom:1px solid @tables-ending;
            vertical-align:middle;
            font-size:@text-fs*9/10;
        }
    }



    // Specific ChuckCSS styles
    &.cc {

        /* Layout fixed tables */
        &-equal-cols {
            table-layout:fixed;
        }

        /* Striped tables : horizontal */
        &-striped {
            tbody tr:nth-child(2n+1) td {
                background-color:@tables-striped-even;
            }
            tbody tr:nth-child(2n) td {
                background-color:@tables-striped-odd;
            }
        }

        /* Striped tables : vertical */
        &-striped-col {
            tbody tr td:nth-child(2n+1) {
                background-color:@tables-striped-even;
            }
            tbody tr td:nth-child(2n) {
                background-color:@tables-striped-odd;
            }
        }

        /* hovered : highlight the hovered line */
        &-hovered {
            tbody tr:hover td {
                background-color:@tables-hover-bg;
            }
        }

        /* Top alignment cells */
        &-valign-top {
            tbody td {
                vertical-align: top;
            }
        }

        /* Bordered table */
        &-bordered {
            tbody,
            tfoot,
            thead {
                td,th {
                    border:1px solid  @tables-ending;
                }
            }
        }

        /* Unbordered tables */
        &-unbordered {
            tfoot,
            tbody,
            thead {
                tr {
                    td,th {
                        border:0;
                    }
                }
            }
        }
    }

    // Set font-size on meduim and up screens
    ._media-s-up({
        tbody {
            td {
                font-size:@text-fs;
            }
        }
    });

    // Responsive table
    &.cc-responsive {
        ._media-s({
            display:flex;
            overflow: hidden;
            max-width:100%;
            vertical-align: top;
            white-space: nowrap;
            border-collapse: collapse;
            border-spacing: 0;

            tfoot {
                display:none;
            }

            thead {
                display: flex;
                flex-negative: 0;
                flex-shrink: 0;
                min-width: min-content;

                tr {
                    display: flex;
                    flex-direction: column;
                    min-width: min-content;
                    flex-negative: 0;
                    flex-shrink: 0;

                    td, th {
                        display:block;
                        border:1px solid @tables-ending;
                        border-top-width:0px;
                        flex: 1;

                        &:nth-child(1) {
                            border-top-width:1px;
                        }
                    }
                }
            }

            tbody {
                display: flex;
                flex:1;
                position: relative;
                overflow-x: auto;
                overflow-y: hidden;
                border-right:1px solid @tables-ending;

                tr {
                    display: flex;
                    flex:1;
                    flex-direction: column;
                    min-width: min-content;
                    flex-negative: 0;


                    td {
                        display:block;
                        flex: 1;
                        border:1px solid @tables-ending;
                        border-top-width:0px;
                        border-left-width:0px;

                        &:nth-child(1) {
                            border-top-width:1px;
                        }
                    }
                }
            }

            &.cc-unbordered {
                thead,tbody {
                    border:0;

                    tr td,
                    tr th {
                        border:0;

                        &:nth-child(1) {
                            border-top-width:0px;
                        }
                    }
                }
            }
        });
    }
}

// Table wrapper for small screens
.wrap-table {
    max-width:100%;
    overflow-x:auto;
}
