/* ******** */
/** TITLES **/
/* ******** */

/* *****
    @name : ._generateTitles
    @description : Generate title <hn> styles
***** */
._generateTitles(@iterator:1) when(@iterator <= 6) {

    h@{iterator},
    .h@{iterator}-like {

        // Define vars regards to settings.less file
        @fontSize : 'title-h@{iterator}-fs';
        @lineHeight : 'title-h@{iterator}-lh';

        font-size:@@fontSize;
        line-height:@@lineHeight;
        margin: 0;
        font-weight:400;
        color:@title-mc;

        small {
            font-weight:400;
            color:@subtitle-mc;
            font-size:@subtitle-fs;
        }
    }

    ._generateTitles((@iterator + 1));
}
._generateTitles;
