/*
    == ChuckCSS Framework ==
    @What : A mobile-first, responsive CSS framework, compiled with LESS and Autoprefixer, based on FlexBox grids
    @Author : Mickael SURREL, ALPIXEL Agency : Fresh & French Web Agency (https://www.alpixel.fr)
    @Twitter : https://twitter.com/chuckcss
    @Github : https://github.com/alpixel/ChuckCSS
    @Licence : Under MIT Licence (https://opensource.org/licenses/mit-license.php)

*/
@charset "UTF-8";

/*
    * External & Optional (but recommended) libraries
        • normalize.css from cdnjs | http://necolas.github.io/normalize.css/
        • fontAwesome css CDN | https://fontawesome.com/get-started/web-fonts-with-css
        • ionicons.min.css from ionicframework | http://ionicons.com
*/
@import "//cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.css";
@import "//use.fontawesome.com/releases/v5.0.8/css/all.css";
@import "//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css";

/*
    settings.less
*/
@import (reference) "settings";

/*
    * /core/ - IMPORT CORE FILES *
        • functions.less : main usefull less functions|mixins for integration project
        • responsive.less : responsive less mixins
        • animations.less : keyframes file
        • base.less : base file with <html>, <body> styles
*/
@import (reference) "core/functions";
@import (reference) "core/responsive";
@import "core/animations";
@import "core/base"; // <==== <html> & <body>

/*
    * /elements/ - IMPORTS FILES *
*/
@import "elements/titles";
@import "elements/buttons";
@import "elements/tables";
@import "elements/lists";
@import "elements/blockquotes";
@import "elements/forms";
@import "elements/images";
@import "elements/loaders";

/*
    * /components/ - IMPORTS FILES *
*/
@import "components/alerts";
@import "components/grids";
@import "components/messages";
@import "components/badges";
@import "components/tabs";
@import "components/modals";

/*
    * IMPORT GENERATOR & HELPERS FILEs *
    • generator.less : Engine generator for colors, grids, icons...
    • helpers.less : text and blocks helpers
    • fontawesome.less : icons tools
    /!\ Import this files after elements and others components
*/
@import "core/helpers";
@import "core/fontawesome";
@import "core/generator";
