/*
    * SETTINGS.LESS
    ~ Configuration file

    * HOW TO UNDERSTAND VAR NAMES ?
        "-mc" : main-color
        "-bg" : background-color
        "-bc" : border-color
        "-tc" : text-color
        "-ic" : icon color
        "-su" : success
        "-er" : error
        "-wa" : warning
        "-in" : info
        "-he" : height
        "-lh" : line-height
        "-br" : border-radius
        "-fs" : font-size (fonts only)
        "-li" : light (colors only)
        "-da" : dark (colors only)
        "-na" : name (colors only)
        "-mw" : max-width (media queries)
        "-pa" : padding (for grid columns, and helpers paddings and margins)
        "-ma" : margin (for grid containers, and helpers paddings and margins)
*/


/* ********* */
/* VARIABLES */
/* ********* */

/*
    -- @ Media Queries @ --
*/
@phone-mw : 767px; /* Max-width for phone devices */
@tablet-mw : 1200px; /* Max-width for tablet devices */


/*
    -- @ Colors @ --
*/
/* Primary color */
@primary : #29b7e1;
@primary-na : primary; /* Name of the color, for @aColors array */
@primary-li : lighten(@primary,10%); /* Lighten primary */
@primary-da : darken(@primary,10%); /* Lighten primary */

// red
@red :   #c41515;
@red-na : red; /* Name of the color, for @aColors array */
@red-li : lighten(@red,10%); /* Lighten red */
@red-da : darken(@red,10%); /* Darken red */

// gray
@gray : #bababa;
@gray-na : gray; /* Name of the color, for @aColors array */
@gray-li : lighten(@gray,10%); /* Lighten gray */
@gray-da : darken(@gray,10%); /* Darken gray */

// Colors arrays : Had any color \m/
// array(@color1-name @color1-value, @color2-name @color2-value,...);
@aColors :
    @primary-na @primary,
    @red-na @red;


/*
    -- @ Texts @ --
*/
@text-mc: #3a3a3a;                      /* Texts ~ Main color (hexa, rgb, rgba...) */
@text-fs-old : 15px;                    /* Texts font-size ~ Used for old browsers that doesn't support rem units */
@text-fs: unit(@text-fs-old/10,rem);    /* Textes font-size (applied to <body>) */
@text-lh : 1.5;                         /* Texts line-height : ~= font-size*1.5 */



/*
    -- @ Links @ --
    * HTML
        <a href="#" class="btn">My button link</a>
        <button class="btn">My button</button>
*/
@links-tc : @text-mc;               /* Links ~ Text color */
@links-fs : @text-fs;               /* Links ~ Font-size */
@links-btn-tc : white;              /* Links ~ buttons text color when colorized */
@links-btn-hover-tc : white;        /* Links ~ buttons text color on hover when colorized */
@links-btn-lh : 1.8;                /* Links ~ buttons line-height : ~= font-size*1.8 */
@links-btn-br : 0;                  /* Links ~ buttons border-radius (in px) */




/*
    -- @ Titles @ --
    * HTML
        <Hn>My Heading title</Hn>
*/
@title-mc : @text-mc; /* Hn ~ Titles main color */
@title-h1-fs : 2em;
@title-h1-lh : @title-h1-fs*1.1;
@title-h2-fs : 1.8em;
@title-h2-lh : @title-h2-fs*1.1;
@title-h3-fs : 1.6em;
@title-h3-lh : @title-h3-fs*1.15;
@title-h4-fs : 1.4em;
@title-h4-lh : @title-h4-fs*1.15;
@title-h5-fs : 1.3em;
@title-h5-lh : @title-h5-fs*1.15;
@title-h6-fs : 1.2em;
@title-h6-lh : @title-h6-fs*1.15;



/*
    -- @ Tables @ --
    * HTML
        <table class="hover colored"> // exemple
            <thead>
                <tr>
                    <th>My Head lind</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Lorem Ipsum</td>
                </tr>
            </tbody>
        </table>
*/
@tables-cells-pa : 8px;         /* <th> & <td> padding */
@tables-ending : #e0e0e0;       /* Line below tables */
@tables-th-mc : #9e9e9e;        /* <thead><th> main color */



/*
    -- @ Forms @ --
    * HTML
        Read all exemples in elements/forms.less file
*/
@form-mc : @primary;            /* Primary color for forms elements */

@input-bg : white;              /* Input ~ bg-color */
@input-fs : @text-fs * (9/10);  /* Input ~ font-size = @text-fs (can be changed by custom value) */
@input-lh : @text-fs*2.8;               /* Input ~ line-height (Submit buttons too) */
@input-bc : #ddd;               /* Input border-color */
@input-br : 0;                  /* Input ~ border-radius (in px) */
@submit-bg : @primary;          /* Submit input/button bg-color */


/*
    -- @ Alerts @ --
    * HTML
        <div class="alert alert-error">...</div>
        <div class="alert alert-success">...</div>
*/
@alert-br : 0; /* Alerts border-radius (pixel)
/* success */
@alert-su-bg : #dff0d8;
@alert-su-bc : #d6e9c6;
@alert-su-tc : #468847;
/* error */
@alert-er-bg : #f2dede;
@alert-er-bc : #ebccd1;
@alert-er-tc : #b94a48;
/* warning */
@alert-wa-bg : #fcf8e3;
@alert-wa-bc : #faebcc;
@alert-wa-tc : #c09853;
/* info */
@alert-in-bg : #d9edf7;
@alert-in-bc : #bce8f1;
@alert-in-tc : #3a87ad;



/*
    -- @ Blockquotes @ --
    * HTML
        <blockquote class="quoted">
            <p>A odio tristique cum aliquam, integer? Etiam. A odio tristique cum aliquam, integer? Etiam. A odio tristique cum aliquam, integer? Etiam.A odio tristique cum aliquam, integer? Etiam.</p>
            <footer>
                Someone famous in <cite title="Les hackis pour la vie">Les hackis pour la vie</cite>
            </footer>
        </blockquote>
*/
@blockquotes-bc : @primary;         /* Blockquote ~ border-left color */
@blockquotes-ic : @blockquotes-bc;  /* Blockquote ~ FontAwesome icon color (only for <blockquote.quoted>) */
@blockquotes-footer-tc : @gray;     /* Blockquote ~ footer text-color */



/*
    -- @ Grids @ --
    * HTML
        <div class="columns">
            <div class="column cc-6">6 columns</div>
            <div class="column cc-6">6 columns</div>
        </div>
*/
@cols-gutter : 0em; /* Gutter between 2 cols = Each column margin-left & margin-right */
@cols-total : 12; /* Total of cols in grid */
@cols-pa : 0em; /* Each column padding  */
@cols-ma-top : 0em; /* Each column margin top */
@cols-ma-bottom : @cols-ma-top; /* Each column margin bottom */



/*
    -- @ Helpers @ --
*/
@helper-ma : 1em;      /* Used for lists */



/*
    -- @ Loader @ --
*/
@dots-bg : @primary; /* Background-color of each dot */
@dots-count : 12; /* Number of dots */
@loader-radius : 360 / @dots-count; /* Calculation of each dot radius */
@loader-speed : 0.5; /* Calculation of each dot delay-animation */
@loader-animation-delay : @loader-speed / @dots-count; // Claculation of each dot animation delay



/*
    -- @ FONTS MIXINS @ --
    "Here define the fonts"

    * LESS call
        .font(){font-family:'My font',sans-serif;}
*/
._helvetica() {font-family: 'Helvetica Neue', sans-serif;}


/*
    -- @ Images @ --
    NOTE : This var is not used in ChuckCSS but i usefull for front-end developments
*/
@imgPath : '../img'; /* Path of images files */


/*
    -- @ FONTS PATH @ --
    "Here define the 'fonts' folder path"
    NOTE : This var is not used in ChuckCSS but i usefull for front-end developments
*/
@fontPath : '../fonts';     /* Path of fonts files */
