/*
    == ANIMATIONS ==
*/

/* *****
    @name: ._loading-spin
    @description: animate loading buttons
***** */
._loading-spin(@duration:1s){
    animation-name: loading-spin;
    animation-duration: @duration;
    animation-timing-function: linear;
    transform-origin: 50% 50%;
    animation-iteration-count: infinite;
}
@keyframes loading-spin {
    from {
        ._rotate(0deg)
    }
    to{
        ._rotate(360deg)
    }
}


/* *****
    @name: loaderSpinner
    @description: animate spinner loader
***** */
@keyframes loaderSpinner {
    0% {
        ._rotate(0deg)
    }
    100% {
        ._rotate(360deg)
    }
}

/* *****
    @name: loaderSonar
    @description: animate sonar loader
***** */
@keyframes loaderSonar {
    0% {
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        width: 100%;
        height: 100%;
        opacity: 0;
    }
}


/* *****
    @name: checkdio
    @description: animate radio & checkox inputs when checked
***** */
@keyframes checkdio {
    0% {
        opacity:.4;
        ._scale(3)
    }
    10% {
        ._scale(2.5)
    }
    90% {
        ._scale(1)
    }
    100% {
        transform:none
    }
}

/* *****
    @name: showLazyImg
    @description: Animate img and backstretch when elements are loaded with lozad
***** */
img[data-loaded="true"],
[data-loaded="true"] img {
  animation-name: showLazyImg;
  animation-duration: 0.7s;
  animation-fill-mode: both;
}
@keyframes showLazyImg {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/* *****
    @name: drawIcon
    @description: Drawing animation for FontAwesome icons when .animated class is added to the icon
***** */
@keyframes drawIcon {
    from {
        stroke-dashoffset: 1;
    }
    to {
        stroke-dashoffset: 0;
    }
}
