/*
    == DESKTOP / GENERAL CSS ==
*/
html {
    font-size:62.5%;
    font-size:~'calc(1em*0.625)';
}

body {
    ._reset; /* reset padding, margin, border ~ defined in core/functions.less */
    .open; /* main font ~ defined in settings.less */
    font-size: @text-fs-old; /* old font-size for olds browsers ~ defined in settings.less */
    font-size: @text-fs; /* ~= 1.4rem ~ defined in settings.less (calculation based on @text-fs-old value) */
    line-height: @text-lh; /* defined in settings.less */
    color: @text-mc; /* text-color ~ defined in settings.less */
    overflow-x: hidden;
    ._box-sizing(border-box);

    /* Box-sizing */
    *,
    *:before,
    *:after {
        ._box-sizing(border-box);
    }

    // Affix - Override Bootstrap CSS
    &.affix { position:relative; }
}
div,dl,dd,dt,p,ul,li,ol {
    ._reset;
    list-style:none;
}

/* define text selection */
::-moz-selection {
    background: @text-mc; /* defined in settings.less */
    text-shadow: none;
    color:white;
}
::selection {
    background: @text-mc; /* defined in settings.less */
    text-shadow: none;
    color:white;
}