/*
    == BASE : Define <html>, <body> and selection styles ==
*/
html {
    font-size:62.5%;
    font-size:~'calc(1em*0.625)';
    overflow-x: hidden;

    // Opened menu (phones) or opened modal
    &.opened-modal,
    &.opened-menu {
        overflow: hidden !important;
    }
}

body {
    // Phone menu
    &.opened-menu {
        overflow-y: hidden
    }
    // Modal is opened
    &.opened-modal {
        overflow:hidden !important;
    }
}


// General body style
body {
    ._reset;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: @text-fs-old;
    font-size: @text-fs;
    line-height: @text-lh;
    color: @text-mc;
    overflow-x: hidden;
    box-sizing:border-box;

    /* Box-sizing */
    *,
    *:before,
    *:after {
        box-sizing:border-box;
    }
}

// Reset border, padding, margin
div,dl,dd,dt,p,ul,li,ol {
    ._reset;
}
li {
    list-style:none;
}

/* define text selection */
::-moz-selection {
    background: @text-mc;
    text-shadow: none;
    color:white;
}
::selection {
    background: @text-mc;
    text-shadow: none;
    color:white;
}
