/*
    == FLEXBOX / FLEXBOX MIXINS ==
*/


/* *****
    @name : ._flex-*
    @description : generate flexbox
    @params :
      - -display : flex | inline-flex
      - -direction : row | row-reverse | column | column-reverse
      - -wrap : nowrap (single line) | wrap (multi-line) | wrap-reverse (multi-line)
      - -justify : flex-start | flex-end | center | space-between | space-around
      - -align : flex-start | flex-end | center | baseline | stretch
      - -align-content : flex-start | flex-end | center | space-between | space-around | stretch

    @exemple :
      el {
          ._flex-display;
          ._flex-direction(column);
      }
***** */
._flex-display(@display:flex) {
    display: @display;
}

._flex-direction(@direction:row) {
    flex-direction : @direction;
}

._flex-wrap(@wrap:nowrap) {
    flex-wrap: @wrap;
}

._flex-justify(@justify:flex-start) {
    justify-content: @justify;
}

._flex-align-items(@align:stretch) {
    align-items: @align;
}

._flex-align-content(@align-content:stretch) {
    align-content: @align-content;
}


/* *****
    @name : ._flex
    @description : flex-grow, flex-shrink, flex-basis properties
    @params : (grow shrink basis)

    @exemple :
      .parent {
        ._flex-display;

        .child {
          ._flex(0 0 250px);
        }
      }
***** */
._flex(...) {
  flex: @arguments;
}
/* *****
    @name : ._flex-order
    @description : positionning order for childs elements in flexbox container
    @params : int (negative allowed)

    @exemple :
      .parent {
        ._flex-display;

        .child {
          ._flex(0 auto);

          &:nth-child(1) {
            ._flex-order(2); // this child will be displayed last
          }

          &:nth-child(2) {
            ._flex-order(-1); // this child will be displayed before all others children
          }
        }
      }
***** */
._flex-order(@order: 0) {
    order: @order;
}
/* *****
    @name : ._align-self
    @description : positionning a child element in cross axis
    @params : flex-start | flex-end | center | baseline | stretch

    @exemple :
      .parent {
        ._flex-display;

        .child {
          ._flex(0 auto);

          &:nth-child(2) {
            ._flex-align-self(flex-end); // this child will be displayed with property align-self:flex-end
          }
        }
      }
***** */
._flex-align-self(@align: auto) {
    align-self: @align;
}
