/*
    == HELPERS ==
*/
.clearfix {._clearfix;}

.cc {

    // Texts
    &-txt {
        &-left {text-align:left;}
        &-center {text-align:center;}
        &-right {text-align:right;}
        &-justify {text-align:justify;}

        // /!\ colors and bg-colors are generated in generators.less file
        // /!\ paddings and margins are generated in generators.less file
    }


    // Visibility
    &-hidden {
        display:none !important;

        &-s {
            ._phone({
                display:none !important;
            });
        }
        &-t {
            ._tablet({
                display:none !important;
            });
        }
        &-d {
            display:none !important;

            ._tablet({
                display:block !important;
            });
        }
    }
    &-s-only {
        ._tabletUp({
            display:none !important;
        });
    }
    &-inline {._inline;}
    &-inside{._inside;}

    /* Clearfix */
    &-clearfix {._clearfix}
}
