/* ******* */
/** LINKS **/
/* ******* */

/* ********************* */

/*
    - General links & buttons styles.

    /* - - -
    /!\ : you can override ._btn bg-color in functions.less : ._btn(@bg, @bgHover); /!\
    /* - - -

*/
button,
a {
    text-decoration: none;
    color:@links-mc;

    &:focus,
    &:hover {
        text-decoration: none;
        outline:0;
    }


    &.btn {
        ._inline; /* set 'inline-block' display */
        ._border-radius(unit(@links-btn-br,px));
        ._btn(@links-btn-bg); /* Generate Background-color and background-color hover css */
        ._transition;
        text-align:center;
        color:@links-btn-tc;
        border:0;
        line-height:@links-btn-lh;
        padding:0 30px;

        &:hover {
            border:0;
            color:@links-btn-hover-tc;
        }


        /* Links with icon */
        i {
            margin-right: 10px;

            &.right {
                margin-left:10px;
                margin-right: 0px;
            }
        }

        /* Thins buttons, .btn links */
        &.thin {
            font-size:@links-btn-thin-fs;
        }

        /* Fats buttons, .btn links */
        &.fat {
            font-size:@links-btn-fat-fs;
        }
    }
}


button {
    ._inline; /* set 'inline-block' display */
    ._border-radius(unit(@links-btn-br,px));
    background-color:white;
    ._transition;
    border:1px solid @gray-li;
    text-align:center;
    line-height:@links-btn-lh;
    padding:0 15px;

    &:hover {
        border:1px solid @gray;
    }
}
